<!DOCTYPE html>
<html ng-app="App">
<head lang="en">
    <meta charset="UTF-8">
    <title>Shopping Cart | Community 101</title>
    <script src="/web/js/angular/angular.min.js"></script>
    <script src="/web/js/angular/angular-cookies.min.js"></script>
    <script src="/web/js/angular/cart_controller.js"></script>
</head>
<body ng-controller="CartController">

<table>
    <tr>
        <th>Name</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Operation</th>
    </tr>
    <tr ng-repeat="item in selected_items">
        <td>{{item["name"]}}</td>
        <td>{{item["price"]/100 | currency}}</td>
        <td>{{item["quantity"]}}</td>
        <td>{{item["price"]/100 * item["quantity"] | currency}}</td>
        <td>
            <button ng-click="more_selected_item($index)">more</button>
            <button ng-click="less_selected_item($index)">less</button>
            <button ng-click="remove_selected_item($index)">remove</button>
        </td>
    </tr>
</table>

<div>
    <p>Total: </p>
    <span>{{bill.total/100 | currency}}</span>
</div>

<div>
    <p>Phone:</p><input ng-model="phone" pattern="^\d{11}$">
</div>

<div>
    <p>Address:</p><input ng-model="address">
</div>

<div ng-model="can_submit_order" ng-show="can_submit_order">
    <button ng-click="submit()">submit</button>
</div>

<div>
    <p ng-model="order_submitted" ng-show="order_submitted">Order ID: {{order_id}}</p>
</div>

</body>
</html>