<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="/web/js/angular/angular.min.js"></script>
    <script src="/web/js/angular/sign-in-controller.js"></script>
    <!--<script src="/web/js/angular/login-controller.js"></script>-->
</head>
<body ng-app="App" ng-controller="signInController">
    <nav>
        <a href="/web/index.html">首页</a>
    </nav>

    <p><span>手机号：</span><input ng-model="tel_phone"/></p>
    <p><span>密码：</span><input ng-model="password" type="password"/></p>
    <p><span>重复密码：</span><input ng-model="password_repeat" type="password"/><span>{{password_msg}}</span></p>
    <p><span>短信验证码：</span><input ng-model="SMS_code"/><button ng-click="send_SMS_code()">发送验证码</button></p>
    <p><small>{{msg}}</small></p>
    <button ng-click="sign_in()">注册</button>
    <a href="login.html">已经有账号了？去登录</a>


</body>
</html>