.jumbotron {
    background: url('http://gb.cri.cn/mmsource/images/2013/03/25/nc130325003.jpg') no-repeat;
    background-size: cover;
}

#goodslist .thumbnail {
    height: 210px;
}

#goodslist .thumbnail img {
    height: 120px;
    width: 120px;
}